node_modules/.yarn-integrity
node_modules/.bin/node-gyp-build
node_modules/.bin/node-gyp-build-optional
node_modules/.bin/node-gyp-build-test
node_modules/@jitsi/robotjs/binding.gyp
node_modules/@jitsi/robotjs/CHANGELOG.md
node_modules/@jitsi/robotjs/index.d.ts
node_modules/@jitsi/robotjs/index.js
node_modules/@jitsi/robotjs/LICENSE.md
node_modules/@jitsi/robotjs/package.json
node_modules/@jitsi/robotjs/README.md
node_modules/@jitsi/robotjs/node_modules/.bin/node-gyp-build
node_modules/@jitsi/robotjs/node_modules/.bin/node-gyp-build-optional
node_modules/@jitsi/robotjs/node_modules/.bin/node-gyp-build-test
node_modules/@jitsi/robotjs/prebuilds/darwin-x64+arm64/node.napi.node
node_modules/@jitsi/robotjs/prebuilds/linux-arm64/node.napi.node
node_modules/@jitsi/robotjs/prebuilds/linux-x64/node.napi.node
node_modules/@jitsi/robotjs/prebuilds/win32-ia32/node.napi.node
node_modules/@jitsi/robotjs/prebuilds/win32-x64/node.napi.node
node_modules/@jitsi/robotjs/src/alert.c
node_modules/@jitsi/robotjs/src/alert.h
node_modules/@jitsi/robotjs/src/base64.c
node_modules/@jitsi/robotjs/src/base64.h
node_modules/@jitsi/robotjs/src/bitmap_find.c
node_modules/@jitsi/robotjs/src/bitmap_find.h
node_modules/@jitsi/robotjs/src/bmp_io.c
node_modules/@jitsi/robotjs/src/bmp_io.h
node_modules/@jitsi/robotjs/src/color_find.c
node_modules/@jitsi/robotjs/src/color_find.h
node_modules/@jitsi/robotjs/src/deadbeef_rand.c
node_modules/@jitsi/robotjs/src/deadbeef_rand.h
node_modules/@jitsi/robotjs/src/endian.h
node_modules/@jitsi/robotjs/src/inline_keywords.h
node_modules/@jitsi/robotjs/src/io.c
node_modules/@jitsi/robotjs/src/io.h
node_modules/@jitsi/robotjs/src/keycode.c
node_modules/@jitsi/robotjs/src/keycode.h
node_modules/@jitsi/robotjs/src/keypress.c
node_modules/@jitsi/robotjs/src/keypress.h
node_modules/@jitsi/robotjs/src/microsleep.h
node_modules/@jitsi/robotjs/src/MMBitmap.c
node_modules/@jitsi/robotjs/src/MMBitmap.h
node_modules/@jitsi/robotjs/src/MMPointArray.c
node_modules/@jitsi/robotjs/src/MMPointArray.h
node_modules/@jitsi/robotjs/src/mouse.c
node_modules/@jitsi/robotjs/src/mouse.h
node_modules/@jitsi/robotjs/src/ms_stdbool.h
node_modules/@jitsi/robotjs/src/ms_stdint.h
node_modules/@jitsi/robotjs/src/os.h
node_modules/@jitsi/robotjs/src/pasteboard.c
node_modules/@jitsi/robotjs/src/pasteboard.h
node_modules/@jitsi/robotjs/src/png_io.c
node_modules/@jitsi/robotjs/src/png_io.h
node_modules/@jitsi/robotjs/src/rgb.h
node_modules/@jitsi/robotjs/src/robotjs.cc
node_modules/@jitsi/robotjs/src/screen.c
node_modules/@jitsi/robotjs/src/screen.h
node_modules/@jitsi/robotjs/src/screengrab.c
node_modules/@jitsi/robotjs/src/screengrab.h
node_modules/@jitsi/robotjs/src/snprintf.c
node_modules/@jitsi/robotjs/src/snprintf.h
node_modules/@jitsi/robotjs/src/str_io.c
node_modules/@jitsi/robotjs/src/str_io.h
node_modules/@jitsi/robotjs/src/types.h
node_modules/@jitsi/robotjs/src/uthash.h
node_modules/@jitsi/robotjs/src/UTHashTable.c
node_modules/@jitsi/robotjs/src/UTHashTable.h
node_modules/@jitsi/robotjs/src/xdisplay.c
node_modules/@jitsi/robotjs/src/xdisplay.h
node_modules/@jitsi/robotjs/src/zlib_util.c
node_modules/@jitsi/robotjs/src/zlib_util.h
node_modules/@jitsi/robotjs/test/bitmap.js
node_modules/@jitsi/robotjs/test/keyboard.js
node_modules/@jitsi/robotjs/test/mouse.js
node_modules/@jitsi/robotjs/test/screen.js
node_modules/@jitsi/robotjs/test/integration/keyboard.js
node_modules/@jitsi/robotjs/test/integration/mouse.js
node_modules/@jitsi/robotjs/test/integration/screen.js
node_modules/bindings/bindings.js
node_modules/bindings/LICENSE.md
node_modules/bindings/package.json
node_modules/bindings/README.md
node_modules/file-uri-to-path/.npmignore
node_modules/file-uri-to-path/.travis.yml
node_modules/file-uri-to-path/History.md
node_modules/file-uri-to-path/index.d.ts
node_modules/file-uri-to-path/index.js
node_modules/file-uri-to-path/LICENSE
node_modules/file-uri-to-path/package.json
node_modules/file-uri-to-path/README.md
node_modules/file-uri-to-path/test/test.js
node_modules/file-uri-to-path/test/tests.json
node_modules/midi/binding.gyp
node_modules/midi/CHANGELOG.md
node_modules/midi/LICENSE
node_modules/midi/midi.js
node_modules/midi/package.json
node_modules/midi/README.md
node_modules/midi/build/binding.Makefile
node_modules/midi/build/config.gypi
node_modules/midi/build/gyp-mac-tool
node_modules/midi/build/Makefile
node_modules/midi/build/midi.target.mk
node_modules/midi/build/Release/midi.node
node_modules/midi/build/Release/.deps/Release/midi.node.d
node_modules/midi/build/Release/.deps/Release/obj.target/midi/src/input.o.d
node_modules/midi/build/Release/.deps/Release/obj.target/midi/src/midi.o.d
node_modules/midi/build/Release/.deps/Release/obj.target/midi/src/output.o.d
node_modules/midi/build/Release/.deps/Release/obj.target/midi/vendor/rtmidi/RtMidi.o.d
node_modules/midi/build/Release/obj.target/midi/src/input.o
node_modules/midi/build/Release/obj.target/midi/src/midi.o
node_modules/midi/build/Release/obj.target/midi/src/output.o
node_modules/midi/build/Release/obj.target/midi/vendor/rtmidi/RtMidi.o
node_modules/midi/src/input.cpp
node_modules/midi/src/input.h
node_modules/midi/src/midi.cpp
node_modules/midi/src/output.cpp
node_modules/midi/src/output.h
node_modules/midi/test/virtual-loopback-test-automated.js
node_modules/midi/test/virtual-loopback-test.js
node_modules/midi/test/virtual-read-stream-resume-test.js
node_modules/midi/test/virtual-read-stream-test.js
node_modules/midi/test/virtual-write-stream-test.js
node_modules/midi/test/fixture/144-23-81.bin
node_modules/midi/test/input/input-hang-test.js
node_modules/midi/test/input/input-list-test.js
node_modules/midi/test/input/input-port-status-test.js
node_modules/midi/test/input/input-reopen-test.js
node_modules/midi/test/input/input-test.js
node_modules/midi/test/input/virtual-input-test.js
node_modules/midi/test/output/output-list-test.js
node_modules/midi/test/output/output-port-status-test.js
node_modules/midi/test/output/output-test.js
node_modules/midi/test/output/virtual-output-test.js
node_modules/midi/test/unit/input.js
node_modules/midi/test/unit/output.js
node_modules/midi/vendor/rtmidi/.gitattributes
node_modules/midi/vendor/rtmidi/.travis.yml
node_modules/midi/vendor/rtmidi/autogen.sh
node_modules/midi/vendor/rtmidi/CMakeLists.txt
node_modules/midi/vendor/rtmidi/configure.ac
node_modules/midi/vendor/rtmidi/LICENSE
node_modules/midi/vendor/rtmidi/Makefile.am
node_modules/midi/vendor/rtmidi/README.md
node_modules/midi/vendor/rtmidi/rtmidi_c.cpp
node_modules/midi/vendor/rtmidi/rtmidi_c.h
node_modules/midi/vendor/rtmidi/rtmidi-config.in
node_modules/midi/vendor/rtmidi/RtMidi.cpp
node_modules/midi/vendor/rtmidi/RtMidi.h
node_modules/midi/vendor/rtmidi/rtmidi.pc.in
node_modules/midi/vendor/rtmidi/.github/issue_template.md
node_modules/midi/vendor/rtmidi/cmake/RtMidiConfigUninstall.cmake.in
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_stub.cpp
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_stub.h
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi_test.go
node_modules/midi/vendor/rtmidi/contrib/go/rtmidi/rtmidi.go
node_modules/midi/vendor/rtmidi/doc/Makefile.am
node_modules/midi/vendor/rtmidi/doc/release.txt
node_modules/midi/vendor/rtmidi/doc/doxygen/Doxyfile.in
node_modules/midi/vendor/rtmidi/doc/doxygen/footer.html
node_modules/midi/vendor/rtmidi/doc/doxygen/header.html
node_modules/midi/vendor/rtmidi/doc/doxygen/tutorial.txt
node_modules/midi/vendor/rtmidi/doc/doxygen/samples/getting_started.cpp
node_modules/midi/vendor/rtmidi/doc/images/ccrma.gif
node_modules/midi/vendor/rtmidi/doc/images/mcgill.gif
node_modules/midi/vendor/rtmidi/msw/readme
node_modules/midi/vendor/rtmidi/msw/rtmidilib.sln
node_modules/midi/vendor/rtmidi/msw/rtmidilib.vcproj
node_modules/midi/vendor/rtmidi/tests/apinames.cpp
node_modules/midi/vendor/rtmidi/tests/cmidiin.cpp
node_modules/midi/vendor/rtmidi/tests/cmidiin.dsp
node_modules/midi/vendor/rtmidi/tests/Makefile.am
node_modules/midi/vendor/rtmidi/tests/midiclock.cpp
node_modules/midi/vendor/rtmidi/tests/midiout.cpp
node_modules/midi/vendor/rtmidi/tests/midiout.dsp
node_modules/midi/vendor/rtmidi/tests/midiprobe.cpp
node_modules/midi/vendor/rtmidi/tests/midiprobe.dsp
node_modules/midi/vendor/rtmidi/tests/qmidiin.cpp
node_modules/midi/vendor/rtmidi/tests/qmidiin.dsp
node_modules/midi/vendor/rtmidi/tests/RtMidi.dsw
node_modules/midi/vendor/rtmidi/tests/sysextest.cpp
node_modules/midi/vendor/rtmidi/tests/sysextest.dsp
node_modules/midi/vendor/rtmidi/tests/Debug/.placeholder
node_modules/midi/vendor/rtmidi/tests/Release/.placeholder
node_modules/nan/CHANGELOG.md
node_modules/nan/CMakeLists.txt
node_modules/nan/include_dirs.js
node_modules/nan/LICENSE.md
node_modules/nan/nan_callbacks_12_inl.h
node_modules/nan/nan_callbacks_pre_12_inl.h
node_modules/nan/nan_callbacks.h
node_modules/nan/nan_converters_43_inl.h
node_modules/nan/nan_converters_pre_43_inl.h
node_modules/nan/nan_converters.h
node_modules/nan/nan_define_own_property_helper.h
node_modules/nan/nan_implementation_12_inl.h
node_modules/nan/nan_implementation_pre_12_inl.h
node_modules/nan/nan_json.h
node_modules/nan/nan_maybe_43_inl.h
node_modules/nan/nan_maybe_pre_43_inl.h
node_modules/nan/nan_new.h
node_modules/nan/nan_object_wrap.h
node_modules/nan/nan_persistent_12_inl.h
node_modules/nan/nan_persistent_pre_12_inl.h
node_modules/nan/nan_private.h
node_modules/nan/nan_scriptorigin.h
node_modules/nan/nan_string_bytes.h
node_modules/nan/nan_typedarray_contents.h
node_modules/nan/nan_weak.h
node_modules/nan/nan.h
node_modules/nan/package.json
node_modules/nan/README.md
node_modules/nan/.tap/coverage/0b6fd5cf-8bab-4c62-8882-85eec62d6339.json
node_modules/nan/.tap/coverage/1c540d08-2c57-4603-bf57-31bcc151bd4d.json
node_modules/nan/.tap/coverage/1d5abae1-f07f-4bec-9431-c43537d34984.json
node_modules/nan/.tap/coverage/1d8f02e4-1bd8-4193-9113-70a457855050.json
node_modules/nan/.tap/coverage/1fcc00c9-0fcd-423a-b8e1-b1d902cefdc9.json
node_modules/nan/.tap/coverage/2d0ac480-60f5-43b0-8a18-e3ffdfecfce7.json
node_modules/nan/.tap/coverage/2e8e2a7b-c869-40e5-bd72-7436a04748fe.json
node_modules/nan/.tap/coverage/2e922628-06c8-4ed2-a5ef-45813f77504e.json
node_modules/nan/.tap/coverage/2f052ab6-aad1-4d18-86e0-fdfe40b1be0e.json
node_modules/nan/.tap/coverage/03dadfb7-7c25-470f-bccf-e6136bc164f4.json
node_modules/nan/.tap/coverage/4bf77436-47b8-4c9d-aa39-428a4d09a244.json
node_modules/nan/.tap/coverage/4c7dcf1b-4cfe-4cfb-af5c-367f8d035a9e.json
node_modules/nan/.tap/coverage/4dd3ab4d-99d8-4731-af11-24ef7c187848.json
node_modules/nan/.tap/coverage/5b36e3cf-0ef2-400e-a50c-633f9c54024a.json
node_modules/nan/.tap/coverage/5ff579bd-3191-4c70-bb2c-73baf18b53ee.json
node_modules/nan/.tap/coverage/08c73582-29fc-48a5-ad04-0a1aab01fbfd.json
node_modules/nan/.tap/coverage/9eff34e8-f56c-4ff1-9026-f63607457d50.json
node_modules/nan/.tap/coverage/42a580db-9299-4cbb-a453-18263a229490.json
node_modules/nan/.tap/coverage/52f5470c-e76b-4895-82be-5e11cc9db7c8.json
node_modules/nan/.tap/coverage/55e6141e-84a3-4f0b-a5dc-c420e36d5b47.json
node_modules/nan/.tap/coverage/63da654a-e125-47f1-968f-44934156fd23.json
node_modules/nan/.tap/coverage/71db30ea-c8bf-436c-a390-a95a5e0be509.json
node_modules/nan/.tap/coverage/71fd358e-b7e0-43c7-ae03-5b372b20a8c7.json
node_modules/nan/.tap/coverage/83cf0ed9-fecc-4a2e-b6eb-31aafa0dd353.json
node_modules/nan/.tap/coverage/93d6cff7-c3a5-45a7-9eee-485e5da72b1d.json
node_modules/nan/.tap/coverage/450b5061-0cf3-43d1-a333-0c4b8dd74ee7.json
node_modules/nan/.tap/coverage/636aabb1-6679-4da0-b164-dd6e0684db7a.json
node_modules/nan/.tap/coverage/973d34d8-ea57-42cd-ba0a-7c268a0b4268.json
node_modules/nan/.tap/coverage/1978ca2d-b337-4783-a013-7f00a68c7727.json
node_modules/nan/.tap/coverage/2744d2c4-685f-4a93-ab86-a6c2eef31deb.json
node_modules/nan/.tap/coverage/8242e690-34d3-4277-94de-2b0380568f5b.json
node_modules/nan/.tap/coverage/a3b04655-5c3b-457e-85cf-fea64ef53598.json
node_modules/nan/.tap/coverage/a5d05694-2b3a-4dde-be81-7225927c3650.json
node_modules/nan/.tap/coverage/a965838e-0921-4c49-a3d1-221ca07c544b.json
node_modules/nan/.tap/coverage/adf2c311-b96e-4143-a4f6-52b786180db9.json
node_modules/nan/.tap/coverage/c30e3424-01e9-49c5-8625-9fb2dd739951.json
node_modules/nan/.tap/coverage/ca7d3ef2-a376-4bd0-b02d-4bb6775f7b25.json
node_modules/nan/.tap/coverage/db7d47f5-3df4-407a-b487-fe175217b4c9.json
node_modules/nan/.tap/coverage/db8054ff-c309-4efc-b295-7d3ba74c2906.json
node_modules/nan/.tap/coverage/de803122-8482-494d-b6b9-30929ba2b4dc.json
node_modules/nan/.tap/coverage/e5b1a483-d1ef-4b33-83e1-7a1eedc094a0.json
node_modules/nan/.tap/coverage/e20bcf9e-985e-47d1-864b-905366f8842c.json
node_modules/nan/.tap/coverage/e488a0ec-e588-4864-a047-1b9a52fdbcb0.json
node_modules/nan/.tap/coverage/f6558c84-da71-4578-b880-90effac7b53e.json
node_modules/nan/.tap/coverage/fa450af6-0ea5-469a-87e4-446f507ed7cf.json
node_modules/nan/.tap/coverage/ffb00835-3b91-4a51-8d60-646dd3b78d71.json
node_modules/nan/.tap/processinfo/0b6fd5cf-8bab-4c62-8882-85eec62d6339.json
node_modules/nan/.tap/processinfo/1c540d08-2c57-4603-bf57-31bcc151bd4d.json
node_modules/nan/.tap/processinfo/1d5abae1-f07f-4bec-9431-c43537d34984.json
node_modules/nan/.tap/processinfo/1d8f02e4-1bd8-4193-9113-70a457855050.json
node_modules/nan/.tap/processinfo/1fcc00c9-0fcd-423a-b8e1-b1d902cefdc9.json
node_modules/nan/.tap/processinfo/2d0ac480-60f5-43b0-8a18-e3ffdfecfce7.json
node_modules/nan/.tap/processinfo/2e8e2a7b-c869-40e5-bd72-7436a04748fe.json
node_modules/nan/.tap/processinfo/2e922628-06c8-4ed2-a5ef-45813f77504e.json
node_modules/nan/.tap/processinfo/2f052ab6-aad1-4d18-86e0-fdfe40b1be0e.json
node_modules/nan/.tap/processinfo/03dadfb7-7c25-470f-bccf-e6136bc164f4.json
node_modules/nan/.tap/processinfo/4bf77436-47b8-4c9d-aa39-428a4d09a244.json
node_modules/nan/.tap/processinfo/4c7dcf1b-4cfe-4cfb-af5c-367f8d035a9e.json
node_modules/nan/.tap/processinfo/4dd3ab4d-99d8-4731-af11-24ef7c187848.json
node_modules/nan/.tap/processinfo/5b36e3cf-0ef2-400e-a50c-633f9c54024a.json
node_modules/nan/.tap/processinfo/5ff579bd-3191-4c70-bb2c-73baf18b53ee.json
node_modules/nan/.tap/processinfo/08c73582-29fc-48a5-ad04-0a1aab01fbfd.json
node_modules/nan/.tap/processinfo/9eff34e8-f56c-4ff1-9026-f63607457d50.json
node_modules/nan/.tap/processinfo/42a580db-9299-4cbb-a453-18263a229490.json
node_modules/nan/.tap/processinfo/52f5470c-e76b-4895-82be-5e11cc9db7c8.json
node_modules/nan/.tap/processinfo/55e6141e-84a3-4f0b-a5dc-c420e36d5b47.json
node_modules/nan/.tap/processinfo/63da654a-e125-47f1-968f-44934156fd23.json
node_modules/nan/.tap/processinfo/71db30ea-c8bf-436c-a390-a95a5e0be509.json
node_modules/nan/.tap/processinfo/71fd358e-b7e0-43c7-ae03-5b372b20a8c7.json
node_modules/nan/.tap/processinfo/83cf0ed9-fecc-4a2e-b6eb-31aafa0dd353.json
node_modules/nan/.tap/processinfo/93d6cff7-c3a5-45a7-9eee-485e5da72b1d.json
node_modules/nan/.tap/processinfo/450b5061-0cf3-43d1-a333-0c4b8dd74ee7.json
node_modules/nan/.tap/processinfo/636aabb1-6679-4da0-b164-dd6e0684db7a.json
node_modules/nan/.tap/processinfo/973d34d8-ea57-42cd-ba0a-7c268a0b4268.json
node_modules/nan/.tap/processinfo/1978ca2d-b337-4783-a013-7f00a68c7727.json
node_modules/nan/.tap/processinfo/2744d2c4-685f-4a93-ab86-a6c2eef31deb.json
node_modules/nan/.tap/processinfo/8242e690-34d3-4277-94de-2b0380568f5b.json
node_modules/nan/.tap/processinfo/a3b04655-5c3b-457e-85cf-fea64ef53598.json
node_modules/nan/.tap/processinfo/a5d05694-2b3a-4dde-be81-7225927c3650.json
node_modules/nan/.tap/processinfo/a965838e-0921-4c49-a3d1-221ca07c544b.json
node_modules/nan/.tap/processinfo/adf2c311-b96e-4143-a4f6-52b786180db9.json
node_modules/nan/.tap/processinfo/c30e3424-01e9-49c5-8625-9fb2dd739951.json
node_modules/nan/.tap/processinfo/ca7d3ef2-a376-4bd0-b02d-4bb6775f7b25.json
node_modules/nan/.tap/processinfo/db7d47f5-3df4-407a-b487-fe175217b4c9.json
node_modules/nan/.tap/processinfo/db8054ff-c309-4efc-b295-7d3ba74c2906.json
node_modules/nan/.tap/processinfo/de803122-8482-494d-b6b9-30929ba2b4dc.json
node_modules/nan/.tap/processinfo/e5b1a483-d1ef-4b33-83e1-7a1eedc094a0.json
node_modules/nan/.tap/processinfo/e20bcf9e-985e-47d1-864b-905366f8842c.json
node_modules/nan/.tap/processinfo/e488a0ec-e588-4864-a047-1b9a52fdbcb0.json
node_modules/nan/.tap/processinfo/f6558c84-da71-4578-b880-90effac7b53e.json
node_modules/nan/.tap/processinfo/fa450af6-0ea5-469a-87e4-446f507ed7cf.json
node_modules/nan/.tap/processinfo/ffb00835-3b91-4a51-8d60-646dd3b78d71.json
node_modules/nan/doc/asyncworker.md
node_modules/nan/doc/buffers.md
node_modules/nan/doc/callback.md
node_modules/nan/doc/converters.md
node_modules/nan/doc/errors.md
node_modules/nan/doc/json.md
node_modules/nan/doc/maybe_types.md
node_modules/nan/doc/methods.md
node_modules/nan/doc/new.md
node_modules/nan/doc/node_misc.md
node_modules/nan/doc/object_wrappers.md
node_modules/nan/doc/persistent.md
node_modules/nan/doc/scopes.md
node_modules/nan/doc/script.md
node_modules/nan/doc/string_bytes.md
node_modules/nan/doc/v8_internals.md
node_modules/nan/doc/v8_misc.md
node_modules/nan/tools/1to2.js
node_modules/nan/tools/package.json
node_modules/nan/tools/README.md
node_modules/node-addon-api/common.gypi
node_modules/node-addon-api/except.gypi
node_modules/node-addon-api/index.js
node_modules/node-addon-api/LICENSE.md
node_modules/node-addon-api/napi-inl.deprecated.h
node_modules/node-addon-api/napi-inl.h
node_modules/node-addon-api/napi.h
node_modules/node-addon-api/node_api.gyp
node_modules/node-addon-api/noexcept.gypi
node_modules/node-addon-api/nothing.c
node_modules/node-addon-api/package-support.json
node_modules/node-addon-api/package.json
node_modules/node-addon-api/README.md
node_modules/node-addon-api/tools/check-napi.js
node_modules/node-addon-api/tools/clang-format.js
node_modules/node-addon-api/tools/conversion.js
node_modules/node-addon-api/tools/eslint-format.js
node_modules/node-addon-api/tools/README.md
node_modules/node-gyp-build/bin.js
node_modules/node-gyp-build/build-test.js
node_modules/node-gyp-build/index.js
node_modules/node-gyp-build/LICENSE
node_modules/node-gyp-build/node-gyp-build.js
node_modules/node-gyp-build/optional.js
node_modules/node-gyp-build/package.json
node_modules/node-gyp-build/README.md
node_modules/node-gyp-build/SECURITY.md
